
* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	margin:0;
	padding:0;
	background: url("/Images/nature.jpg") no-repeat center center fixed;
	background-size: cover;
	
	
}

.wrapper {
	max-width:500px;
	width:95%;
	margin:0 auto;
	position:relative;
	

	
}

#contact-form {
	text-shadow:0 1px 0 #FFF;	
	-webkit-border-radius:10px;
	background:#0fe7e074;
	padding:25px;
}
#contact-form h3 {
	color:#f5eef1;
	display:block;
	font-size:30px;
	text-align: center;
}
#contact-form h4 {
	margin:5px 0 15px;
	display:block;
	font-size:18px;
	color: white;
}
#contact-form label span {
	cursor:pointer;
	color:rgba(255, 255, 255, 0.414);
	display:block;
	margin:5px 0;
	font-weight:bold;
	font-size: 20px;
}
#contact-form input[type="text"],
#contact-form input[type="date"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form textarea {
	width:100%;
	background:whitesmoke;
	margin:0 0 5px;
	padding:10px;
	border-radius:5px;
}

#contact-form textarea {
	height:100px;
	max-width:100%;
}
#contact-form button[type="submit"],[type="reset"] {
	cursor:pointer;
	width:70%;
	background:#991D57;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	border-radius:5px;
	margin-left: 60px;

	
}
ul.navbar {
    list-style-type: none;
    display: flex;
    gap: 100px;
    background-color:rgb(23, 88, 191);
    border-radius: 30px;
    overflow: hidden;
  }
  
  ul.navbar li {
    display: inline;
  }
  
  ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 20px;
  }
  
  #logo img {
    max-height: 200px;
    max-width: 90px;
  }
  
  ul.navbar li.signup-btn {
    margin-left: auto;
  }

  #about {
    margin-left: 110px;
  }
  
  ul.navbar li.signup-btn a {
    background-color: #da139899;
    border-radius: 20px;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 8px 4px;
    cursor: pointer;
    margin-right: 30px;
    margin-top: 20px;
  }
  
