
  body {
    background-image: url("Images/pinterest1.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    height: fit-content;
    overflow: hidden;

  }
  ul.navbar {
    list-style-type: none;
    display: flex;
    gap: 100px;
    background-color:rgb(112, 112, 214);
    border-radius: 30px;
    overflow: hidden;
  }
  
  ul.navbar li {
    display: inline;
  }
  
  ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 20px;
  }
  
  #logo img {
    max-height: 200px;
    max-width: 90px;
  }
  
  ul.navbar li.signup-btn {
    margin-left: auto;
  }

  #about {
    margin-left: 110px;
  }
  
  ul.navbar li.signup-btn a {
    background-color: #da139899;
    border-radius: 20px;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 8px 4px;
    cursor: pointer;
    margin-right: 30px;
    margin-top: 20px;
  }
  
  .description {
    color: rgba(245, 245, 220, 0.897);
    font-size: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .helping_hands {
    background-image: url("Images/hands.png");
    background-repeat: no-repeat;
    height: vh;
    width: 80vw;
    background-position: right;
    background-size: contain;
  }

  #donateButton {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 30px 20px;
    font-size: 16px;
    cursor: pointer;
    gap: 30px;
}
#donateButton2 {
  background-color: blue;
  color: white;
  border: aliceblue;
  margin-left: 50px;
  padding: 30px 20px;
  border-radius: 20px;
  box-sizing:border-box;
  font-size: 20px;
  cursor: pointer;
}






  .footer{
    margin-top: 830px;
  }
  
  ul.footer {
    list-style-type: none;
    display: flex;
    gap: 100px;
    background-color:rgb(112, 112, 214);
    border-radius: 30px;
    overflow: hidden;
  }
  ul.footer li a{
    display: block;
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 14px 16px;
    text-decoration: none;
  }
  #return{
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 20px;
  }
  #rights{
    color: white;
    font-size: 25px;
  }
  #backtotop{
    color:orangered;
  }

  
  @media only screen and (max-width: 600px) {
    ul.navbar {
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }
  
    ul.navbar li.signup-btn a {
      font-size: 16px;
    }
  }
   